<div class="uk-flex-row uk-flex uk-position-absolute uk-width-1-1@s" id="audiocontrol">
    <div class="uk-flex uk-margin-right" id="audiobar">
        <i class="fas fa-volume-down"></i>
        <input type="range" id="vol" name="vol" min="0" max="100">
        <i class="fas fa-volume-up"></i>
    </div>

    <div class="uk-margin-right">
        <select name="sound" id="sound-select">
            <option value="Campana">Campana</option>
            <option value="Burbuja">Burbuja</option>
            <option value="Agua">Agua</option>
            <option value="Chime">Chime</option>
            <option value="Ragnarok">Ragnarok</option>
        </select>
    </div>

    <button class="testSound uk-button-danger uk-border-rounded uk-margin-right" onclick="testSound()"><i
            class="fas fa-play"></i></button>
</div>

<div class="uk-flex uk-flex-row uk-height-1-1" id="big">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center uk-flex-column uk-width-1-6 uk-visible@xl"
         id="sem">
        <div class="uk-flex uk-flex-middle uk-height-1-1 uk-text-center uk-flex-column" id="kirzheka-sem">
            <h1 class="">Lecturas esta semana</h1>

            <div class="uk-flex uk-margin-small-bottom" id="left-table">
                <div class="uk-width-1-1">NOMBRE DE USUARIO</div>
            </div>

            <div id="funacion-semana" class="uk-flex uk-flex-center uk-flex-middle uk-flex-row">

                {{#each users}}

                    <div class="uk-width-auto">
                        {{display_name}}
                    </div>

                {{/each}}

            </div>

        </div>
    </div>

    <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center uk-flex-column uk-width-1-1 uk-width-5-6@xl"
         id="kirzheka">
        <h1 class="">Holi ψ(._. )> esta es tu lista de lecturas:</h1>

        <div class="uk-flex uk-margin-small-bottom" id="table-title">
            <div class="uk-width-1-5">TIPO</div>
            <div class="uk-width-3-5">NOMBRE DE USUARIO</div>
            <div class="uk-width-1-5">-</div>
        </div>

        <div id="funacion" class="uk-flex uk-flex-center uk-flex-middle uk-flex-column">

            {{#each queueUsers}}

                <div
                        class="uk-grid uk-grid-column-collapse uk-width-1-1 uk-flex-middle uk-margin-small-bottom uk-margin-small-top">
                    <div class="uk-width-1-5">
                        {{message}}
                    </div>
                    <div class="uk-width-3-5 uk-text-large">
                        {{display_name}}
                    </div>
                    <div class="uk-width-1-5">
                        <button type="button" class="uk-button uk-button-danger uk-button-small" id="{{name}}"
                                onClick="buttonClick(this.id)">
                            <i class="fas fa-check"></i>
                        </button>
                        <button type="button" class="uk-button uk-button-default uk-button-small" id="-{{name}}"
                                onClick="buttonCancel(this.id)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

            {{/each}}

        </div>
        {{#each count}}
            <div id="numero-funacion">

                {{#ifEquals qty 0}}
                    <p>Al parecer no hay personitas en la lista de lecturas</p>
                {{else}}
                    <p>Tienes a {{qty}}{{#ifEquals qty 1}}
                        persona {{else}} personas {{/ifEquals}}esperando su lectura</p>
                {{/ifEquals}}

            </div>
        {{/each}}
    </div>

    <div class="uk-position-right uk-width-5-6" id="alert-container">

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/functionality.js"></script>
<script>
    const socket = io();

    let audioVolume = document.querySelector('#vol');
    let audioFile = document.querySelector('#sound-select');
    let audioPlayer = null;

    Howl.prototype.changeSong = function (song, volume) {
        var self = this;
        self.unload();
        self._duration = 0; // init duration
        self._sprite = {};// init sprite
        self._src = song;
        self._volume = volume;
        self.load(); // => update duration, sprite(var timeout)
    };

    function generateHowlerAudio (song, volume) {
        if (audioPlayer == null) {
            audioPlayer = new Howl({
                src: song,
                preload: true,
                autoplay: false,
                loop: false,
                volume: volume
            });
        } else {
            audioPlayer.changeSong(song, volume);
        }
    }

    socket.on('sound', function () {
        generateHowlerAudio([`./media/${audioFile.value}.wav`], audioVolume.value / 100);
        audioPlayer.play();
    });

    socket.on('refresh', function () {
        updateList();
    });

    function testSound () {
        generateHowlerAudio([`./media/${audioFile.value}.wav`], audioVolume.value / 100);
        audioPlayer.play();
    }
</script>
